/.metadata/
target/
.idea/
.vscode/
.classpath
.project
.settings/
.factorypath

*.class
*.log

node_modules/

.env

mvnw.cmd
mvnw

.DS_Store
message-service/uploads/
uploads/
firebase-service-account.json
*.json